pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "getListofFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "WeatherDataSet_StorageAccount",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FileInput",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "getListofFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getListofFiles').output.childItems ",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'csv') ",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachCSV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FileInput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FileInput').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetFileSize",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText",
									"type": "DatasetReference",
									"parameters": {
										"filename": "@item().name "
									}
								},
								"fieldList": [
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition_CheckSize",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileSize",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('GetFileSize').output.size,1024000) ",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "DeleteSmallFiles",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "DelimitedText",
												"type": "DatasetReference",
												"parameters": {
													"filename": "@item().name"
												}
											},
											"logStorageSettings": {
												"linkedServiceName": {
													"referenceName": "AzureDataLakeStorageGen2_LinkedService",
													"type": "LinkedServiceReference"
												}
											},
											"enableLogging": true,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "CopyFromStoragetoSQLServer",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "device_id",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "device_id",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "name",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "name",
															"type": "String",
															"physicalType": "varchar"
														}
													},
													{
														"source": {
															"name": "latitude",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "latitude",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 0,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "longitude",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "longitude",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 0,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "Rainfall",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "Rainfall",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 0,
															"precision": 18
														}
													},
													{
														"source": {
															"name": "DateTime",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "DateTime",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "WeatherDataSet_StorageAccount",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "WeatherDataSet_SQLServer",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}